.items {
    display: flex;
    align-items: center;
}

.items p{
    margin: var(--space-small);
    font-weight: bold;
}

.completed-items {
    display: flex;
    align-items: center;
    text-decoration: line-through;
}

.completed-items p{
    margin: var(--space-small);
    font-weight: bold;
}

.sorting{
    display: flex;
}

.sorting p{
    margin: var(--space-small);
}

.underline {
    text-decoration: underline;
}

